@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

html * {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

.element {
    margin: auto;
    width: 50%;
}
